<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
    <%- include('partials/header')%>
        <main class="main">
            <div class="form-edit">
                <% if(locals.usuario && usuario.id && usuario.user_name){ %>
                    <form action="/user/passwordActualizar/<%= usuario.id %>?_method=PUT" method="POST"
                    enctype='multipart/form-data' class="formulario">
                    <h1>Cambio de contraseña</h1>
                <% } %>
                <div id="ulErrors">
                    <ul type="none"></ul>
                </div>
                <div class="contenedor">
                    <p class="etiqueta">Contraseña</p>
                    <i class="fa-solid fa-key icon"></i>
                    <input type="password" name="user_password" id="user_password" autocorrect="off"
                        class="input-register" autocapitalize="off"
                        value="<%= locals.old && old.user_password? old.user_password : '' %>">    
                    <% if(locals.errors && errors.user_password){ %>
                        <p class="erroresLocales">
                            <%= errors.user_password.msg %>
                        </p>
                    <% }; %>

                </div>
                <div class="contenedor">
                    <p class="etiqueta">Repite la contraseña</p>
                    <i class="fa-solid fa-key icon"></i>
                    <input type="password" name="user_password_verf" id="user_password" autocorrect="off"
                        class="input-register" autocapitalize="off">
                </div>
                <button type="submit" id='button-create' class="button">Editar usuario</button>
            </form>
        <%- include('partials/footer')%>
        </div>
    </main>
</html>