<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head") %>
<body>
    <%- include('partials/header') %> 
    <main class="main-producto">
        <% let precioFinal = locals.producto.discount ? (producto.price - producto.price * producto.discount / 100).toFixed(0) : producto.price; %>
        <img src="/image/<%= producto.img %>"  alt="Imagen del producto">
        <div class="barra-precio">
            <h1 class="title-product"><%= producto.name %></h1>
            <h2>Descripción</h2>
            <p> <%= producto.description %> </p>    
            <h2>$<%= toThousand(precioFinal) %> </h2>
            <span class="precio" style="display: none"><%=precioFinal%></span>
            <p class="descuento"><%= producto.discount + " %OFF"%> </p>
            <p class="color">12 cuotas s/interés</p>
            <div class="cant">
                <% if(locals.user && user.user_cat > 0){ %>
                    <form action="/products/carrito" id="form-compra" method="get">
                        <div id="from-compra-quantity">
                            <h3 class="count">Cantidad</h3>
                            <select name="prod_quantity" id="count">
                                <option value="1">Hay <%= producto.quantity + 1 %> productos disponibles</option>
                                <% for(let i=0; i<=producto.quantity ;i=i+1){ %>
                                    <option value="<%= (i + 1) %>"><%= (i + 1) %></option> 
                                <% } %>
                            </select>
                        </div>
                        <div class="boton-formulario-shop">
                            <input type="number" id="id_producto" name="id_producto" value="<%= producto.id %>">
                            <button type="submit" class="boton-formulario"><i class="fas fa-shopping-cart"></i></button>
                        </div>
                    </form>
                <%}%> 
            </div>
            <div class="botonera">
                <% if(locals.user && user.user_cat==2){ %>
                    <form class="boton-formulario-shop" method="GET" action="/products/edit/<%= producto.id %>" >
                        <input type="number" id="id_producto" name="id_producto" value="<%= producto.id %>">
                        <button type="submit" class="boton-formulario"><i class="fas fa-edit"></i></button>
                    </form>
                <%}%>
                <% if(locals.user && user.user_cat==2){ %>
                    <form class='boton-formulario-shop' action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="boton-formulario" ><i class="fas fa-trash-alt"></i></button>
                    </form>
                <%}%>   
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
                <script src="/js/agregar.js"></script>
                <script src="/js/contador.js"></script>
                <script src="/js/menu.js"></script>
    </body>

</html>